package org.eiichiro.gig;

import java.util.HashSet;
import java.util.Set;

import javax.annotation.Generated;

import org.eiichiro.jaguar.Module;

@Generated("org.eiichiro.gig.tools.ModuleGenerator")
public class BuildtimeModule_ implements Module {

	private static Set<Class<?>> components = new HashSet<Class<?>>();
	
	static {
${components}
	}
	
	@Override
	public Set<Class<?>> components() {
		return components;
	}
	
}
