@CHARSET "UTF-8";
* { margin: 0px; padding: 0px; }
body {
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 11px;
}
a {
	color: #3B5998;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}
button {
	display: inline-block;
	line-height: 1;
	padding: 7px 10px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	background-color: #69A74E;
	border: 1px solid #3B6E22;
	cursor: pointer;
}
#container {
	margin: 0px auto;
	width: 800px;
	padding: 15px;
}
#header {
	padding: 0px 0px 15px 0px;
}
#content-main {
	padding: 10px;
	background: #F2F2F2;
	border: 1px solid #DDD;
}
#content-main-header {
	margin-bottom: 10px;
}
#content-main-footer {
	margin-top: 10px;
}
.clear {
	clear: both;
}
#content-description {
	margin-bottom: 10px;
}
#content-main-message {
	text-align: left;
	font-weight: bold;
	float: left;
}
.content-main-message-success {
	color: #00cc00;
}
.content-main-message-error {
	color: #ff0000;
}
#content-main-link {
	text-align: right;
}
.content-main-table {
	border: 1px solid #1D4088;
}
.content-main-table table {
	width: 100%;
	border-spacing: 0;
}
.content-main-table thead {
	background: #627AAD;
	color: #ffffff;
}
.content-main-table td {
	padding: 5px;
}
.content-main-table-thead-td {
	text-align: center;
	font-weight: bold;
	border-right: 1px solid #BBCEDE;
	width: 75%;
}
.content-main-table-thead-td-right {
	text-align: center;
	font-weight: bold;
}
.content-main-table tbody tr {
	background: #ffffff;
}
.content-main-table tbody tr:HOVER {
	background: #EDEFF4;
}
.content-main-table-tbody-td {
	border-right: 1px solid #BBCEDE;
	border-bottom: 1px solid #BBCEDE;
}
.content-main-table-tbody-td-right {
	border-bottom: 1px solid #BBCEDE;
}
.content-main-table-tbody-td-bottom {
	border-right: 1px solid #BBCEDE;
}
.content-main-table-action {
	text-align: center;
}
.content-main-table tbody span {
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
}
.content-main-button {
	text-align: right;
}
.content-main-item {
	padding: 5px 0;
}
.content-main-item-input {
	padding: 5px;
	border: 1px solid #BBCEDE;
	width: 50%;
}
.content-main-item-input-readonly {
	padding: 5px;
	border: 1px solid #BBCEDE;
	width: 50%;
}
#confirmation-background {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0.50;
	filter: alpha(opacity=50);
	display: none;
}
#confirmation {
	position: fixed;
	padding: 10px;
	background: #EDEFF4;
	width: 280px;
	height: 80px;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -150px;
	display: none;
}	
#confirmation-message {
	text-align: left;
	font-weight: bold;
	float: left;
}
#confirmation-link {
	text-align: right;
}
#confirmation-button {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.poweredby {
	color: gray;
}
